body {
      margin: 0;
    }

.nav-icons {
      list-style: none;
      padding: 0;
      margin: 0;
      position: fixed;
      top: 75px;
      left: 10px;
      text-align: center;
      width: 60px; /* Adjust width to match your pseudo-sidebar */
    }

.app-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--bs-primary);
  color: white;
  font-size: 36px;
  font-weight: bold;
}

.nav-icons li {
      margin: 15px 0;
    }
.nav-icons a {
      color: inherit;
      text-decoration: none;
      font-size: 24px;
    }
.nav-icons a:hover {
      color: #87292b;
    }



/* Change SVG color for the active tab */
.nav-icons a.active svg {
      color: #87292b;
}

.datatables {
  color: white !important;
}


.main-content {
      margin-left: 60px; /* Offset to the right of the pseudo-sidebar */
      padding: 10px;
    }
